body{
    /* background-color: black; */
}

#traindiv {
}

.parentdiv{
    width: calc(100% - 16px);
    position: relative;
    height: 60px;
    transition: 0.5s;
}

.destinationdiv {
    position: absolute;
    left: 10px;
    top: 16px;
    font-size: large;
    width: calc(100vw - 80px);
    overflow: auto;
    text-align: left;
}

.nexttimediv {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: x-large;
}

.othertimediv {
    position: absolute;
    right: 10px;
    top: 37px;
    font-size: x-small;
}

.expanddiv {
    display: none;
    position: absolute;
    top: 60px;
    width: calc(100vw - 80px);
    overflow: auto;
    text-align: left;
    font-size: small;
    transition: 0.5s;
}

.icondiv {
    display: none;
    position: absolute;
    top: 60px;
    right: 5px;
    text-align: left;
    font-size: small;
    transition: 0.5s;
}

    .expanded{
        height: 120px;
    }

    .expanddivdisplay {
        display: block;
        transition-delay: 0.5s;
    }

    .nobike {
        position: absolute;
    }

    .nobikeban {
        position: absolute;
        right: 5px;
        top: 3px;
        zoom: 2.5;
        color: red;
        z-index: 1;
    }

    .nobikebike {
        position: absolute;
        right: 11px;
        top: 7px;
        zoom: 1.5;
    }


    .platformDiv {
        margin: 10px;
    }